@import "@nib-styles/sass-breakpoints";
@import "@nib-styles/v2-icons";
@import "@nib-styles/v2-typography";
@import "@nib-styles/colors";

$form-copy-color: $color-doc;
$form-copy-font: $font-copy;

@import './lib/form';
@import './lib/label';
@import './lib/control/control';
@import './lib/fields/text';
@import './lib/fields/textarea';
@import './lib/fields/select';
@import './lib/fields/radio';
@import './lib/fields/checkbox';
@import './lib/divider';
